
/* CSS usando ID*/
table {
    border-spacing: 0.5rem;
}

td {
    padding: 0.5rem;
}
td:first-child {
    background-color: mediumspringgreen;
}

td:nth-child(2) {
    background-color: coral;
}

td:nth-child(3) {
    background-color: blue;
}

td:nth-child(4) {
    background-color: deeppink;
}

td:nth-last-child(1) {
    background-color: saddlebrown;
}

#pFormatoID {
    background-color: violet;
}

#pFormatoID2 {
    background-color:goldenrod;
}

#pFormatoID3 {
    background-color: purple;
}

tr:last-child td:last-child {
    background-color: violet;
}
